# Python Einführung
## Untertitel angeführt mit zwei Rauten (Ausführung mit Shift Enter) - dies ist ein MarkDownFeld

*kursiv schreiben mit Stern* **fett schreiben mit zwei Sternchen**
- Listen mit Strichen
- Liste zweiter Punkt

1.1. Erste Anweisung

In [1]:
print("Hello world!")

Hello world!

1.2 Kommentare

In [3]:
#mit der Raute werden Kommentare angeführt, Python ignoriert
'''längere Kommentare können auch mit drei Hochkommata am Anfang und Ende erfasst werden'''
print("something")

something

1.3 Einfache Datentypen

In [6]:
#Variable und Wertezuweisung
name = "Lovelace" 
#keine Zahl am Anfang und sinnige Namen vergeben
print(name)

Lovelace

In [16]:
#string - Zeichenkette - Datentyp str wird durch die Anführungszeichen erzeugt
first_name = "Ada"

In [19]:
#Integer - Ganzzahl - Datentyp int wird durch Gleichheitszeichen ohne Anführungszeichen erzeugt
age = 73
print(age)

73

In [20]:
#Float - Gleitkommazahl - Datentyp durch Punkt in der Zahl erzeugt
size = 1.7123

In [25]:
#Booleans - wahr oder falsch
knows_math = True
print(knows_math)

True

In [10]:
likes_slacking = False
print(likes_slacking)

False

In [14]:
#herausfinden, welchen Wert eine Variable hat - Ausgabe -str - bedeutet Datentyp 
type(name)

str

In [15]:
type(age)
#Ausgabe int bedeutet Ganzzahl als Datentyp

int

In [13]:
type(size)

float

In [17]:
age_string = str(age)

In [18]:
type(age_string)

str

1.4 Operatoren

In [21]:
#Additon von Integers
5 + 5

10

In [22]:
#Multiplizieren
age * 100

7300

Zelle einfügen mit dem Plus-Symbol und mit dem Cursor an die richtige Stelle verschieben

In [23]:
name + name

'LovelaceLovelace'

In [24]:
name * 7

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [26]:
name + 10
#String mit Ganzzahl addiert geht nicht

TypeError: can only concatenate str (not "int") to str

In [28]:
name + "10"
#mit Anführungszeichen gut

'Lovelace10'

In [30]:
#Division - Leerzeichen können gemacht werden, an anderer Stelle sollen sie nicht gemacht werden
size / age

0.023456164383561642

1.5 Funktionen und Methoden

In [31]:
#Länge von Objekten
print(name)
len(name)

Lovelace

8

speziell Methode

In [33]:
#Methode upper - erzeugt den String in Grossbuchstaben
name.upper()

'LOVELACE'

In [34]:
#speichern in einer neuen Variable
name_upper_case = name.upper

In [35]:
#tab druecken fuer verschiedene Methoden
name.count("e")

2

In [36]:
name.count("l")

1

In [38]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [60]:
another_name = "peter"

In [61]:
print(another_name)

peter

In [62]:
another_name.upper()

'PETER'

1.6 LIsten und Dictionaries

In [47]:
#Liste in eckigen Klammern, veränderbare Listen
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [43]:
names[2]

'Curie'

In [44]:
names[0]

'Lovelace'

In [45]:
#letztes Element
names[-1]

'Hawking'

In [46]:
#Abschnitt angeben lassen
print(names)
names[0:3]

['Lovelace', 'Darwin', 'Curie', 'Hawking']

['Lovelace', 'Darwin', 'Curie']

In [50]:
#slicing - im Beispiel nimm alle Element bis zwei
names[:2]

['Lovelace', 'Darwin']

In [49]:
#Gegenbeispiel
names[2:]

['Curie', 'Hawking']

Container Dictionaries folgen

In [53]:
#Dictionaries - Variable-Name, Zeilenumbrüche innerhalb von Klammern sind unproblematisch, 
#Schlüssel-Wertpaare, die keys, Namen, duerfen nur einmal vorkommen, die Werte, Geb.jahre, dürfen sich doppeln
#die Werte können auch wieder Listen sein, also dictionaries
authors_and_birth_years = {"Lovelace":1882,"Darwin":1809,
                           "Noether": 1882,
                          "Hawking":1942}

In [52]:
#Wert eines Dictionaries ausgeben
authors_and_birth_years["Darwin"]

1809

2. For-Schleifen

In [64]:
#Cursor springt nach Zeilensprung im Anschluss an Doppelpunkt mit Einrückung
#in der shell wurde die Schleife mit do und done eingeschlossen, hier nur mit Einrückung
for last_name in names:
    print(last_name + " did awesome stuff.")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Hawking did awesome stuff.

In [65]:
for last_name in names:
    print(last_name + " did awesome stuff")
print("-------")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
-------

In [66]:
#Methode keys 
for last_name in authors_and_birth_years.keys():
    print(last_name)

Lovelace
Darwin
Noether
Hawking

In [67]:
#Schleife mit den Namen, keys, aus dem dictionary 
for neuer_Name in authors_and_birth_years.keys():
    print(neuer_Name + " - geschafft?")

Lovelace - geschafft?
Darwin - geschafft?
Noether - geschafft?
Hawking - geschafft?

In [68]:
for authors in authors_and_birth_years:
    print(authors)

Lovelace
Darwin
Noether
Hawking

In [79]:
#Schleife für alle Inhalte aus dem dictionary 
for key, value in authors_and_birth_years.items():
    print(key, value)

Lovelace 1882
Darwin 1809
Noether 1882
Hawking 1942

for value in authors_and_birth_years.values():
    print(value)

2.1 Bedingte Anweisungen (Conditionals)

In [71]:
#Variable Temperatur wird Integer zugeordnet
temp = 20
if temp > 15:
    print("it's warm")

it's warm

In [72]:
20 > 15

True

In [73]:
temp = 10
if temp > 15:
    print("it's warm")
else:
    print("es geht so")

es geht so

In [76]:
temp = 24
if temp > 25:
    print("it's hot")
elif temp < 23:
    print("it's warm")
else:
    print("es geht so")

es geht so

In [80]:
temp = 28
if 25 < temp < 30:
    print("mässig")

mässig